<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let Proyectos of proyecto">
                <td><a href="{{Proyectos.descripcionP}}" target="_blank"><h2>{{Proyectos.urlP}}</h2></a></td>
                <td>{{Proyectos.nombreP}}</td>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editproyecto/{{Proyectos.id}}"><i class="bi bi-tools"></i> Editar</button>
                </td>
                
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Proyectos.id)">
                        <i class="bi bi-x-octagon-fill"></i> Borrar</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
