<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Estudio 1</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quaerat pariatur. Quo sunt eaque veritatis molestiae, velit nemo. Est pariatur tenetur ipsam nulla nobis ducimus eius, aspernatur quisquam. Voluptatibus, quam?</p>
            <li>
                <h1>Estudio 2</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quaerat pariatur. Quo sunt eaque veritatis molestiae, velit nemo. Est pariatur tenetur ipsam nulla nobis ducimus eius, aspernatur quisquam. Voluptatibus, quam?</p>
            <li>
                <h1>Estudio 3</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quaerat pariatur. Quo sunt eaque veritatis molestiae, velit nemo. Est pariatur tenetur ipsam nulla nobis ducimus eius, aspernatur quisquam. Voluptatibus, quam?</p>
        </ul>
    </div>
</div>
