<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let ExperienciaL of expe">
                <td><h2>{{ExperienciaL.nombreE}}</h2></td>
                <td>{{ExperienciaL.descripcionE}}</td>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editexp/{{ExperienciaL.id}}"><i class="bi bi-tools"></i> Editar</button>
                </td>
                
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(ExperienciaL.id)">
                        <i class="bi bi-x-octagon-fill"></i> Borrar</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
