<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-light" *ngIf="isLogged">Nueva Skill</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulito" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [title]="(skill.nombre)"
            [titleColor]="'#FFFFFF'"
            [showTitle]="true"
            [radius]="100"
            [outerStrokeWidth]="5"
            [imageSrc]="''"
            [showImage]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [backgroundColor]="'#FDB900'"
            [animation]="true"
            [showSubtitle]="false"
            [animationDuration]="300"
        ></circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}"><i class="bi bi-tools"></i></button>
            </td>
            
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-x-octagon-fill"></i></button>
                </td>
        </div>

    </div>
</div>
