<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="5"
        [imageSrc]="'../../../assets/llave.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#FFFFFF'"
        [innerStrokeColor]="'#FFFFFF'"
        [backgroundColor]="'#FDB900'"
        [animation]="true"
        [showSubtitle]="false"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="5"
        [imageSrc]="'../../../assets/llave.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#FFFFFF'"
        [innerStrokeColor]="'#FFFFFF'"
        [backgroundColor]="'#FDB900'"
        [animation]="true"
        [showSubtitle]="false"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="5"
        [imageSrc]="'../../../assets/llave.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#FFFFFF'"
        [innerStrokeColor]="'#FFFFFF'"
        [backgroundColor]="'#FDB900'"
        [animation]="true"
        [showSubtitle]="false"
        [animationDuration]="300"
></circle-progress>
    </div>
</div>
