<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfildev-PhotoRoom.png" alt="perfil" class="img-fluid" id="ftperfil">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{personita.nombre}} {{personita.apellido}}</p>
        <img src="../../../assets/logo-ucasal.png" id="imgucasal">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="barra">
            <span class="acerca">
                <h1>Acerca de mi</h1>
                <p>Estudiante de Ingenieria en Informatica (UCASAL) y estoy entusiasmado por seguir aprendiendo sobre desarrollo web</p>
            </span>
        </div>
        </div>
</div>