<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.png" class="img-fluid" id="ftperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Joel Miguel Serrudo</p>
        <img src="../../../assets/logo-ucasal.png" id="imgucasal">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="barra">
            <span class="acerca">
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum illo mollitia enim molestiae at neque quae, veniam animi, quibusdam similique cupiditate, qui rem porro sequi. Quaerat voluptatem aperiam optio quod.</p>
            </span>
        </div>
        </div>
</div>