<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://files.cults3d.com/uploaders/23932792/illustration-file/e59a631c-ca2e-4d90-a61b-6070e200ee02/IMG_E0585.jpg"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Bienvenido!</h4>
                </div>

                  <p>Ingresa los siguientes datos</p>
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-outline mb-4">
                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control"
                      placeholder="example@..." [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required />
                    <label class="form-label" for="password">Contrasena</label>
                  </div>

                 <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Iniciar
                      Sesion</button>
                    <!--<a class="text-muted" href="#!">Olvidaste la contrasena?</a>-->
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">En esta seccion por favor ingresa tus datos para poder iniciar sesion</h4>
                <p class="small mb-0"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>